*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: quicksand, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color:#696B69;
    background-color: #F9F3DE;
}

h1, h2, .logo{
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: #8F4818;
} 

a {
    text-decoration: none;
    color: #FFFBF1;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin-left:auto;
    margin-right: auto;
}

.site-header .container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.site-header {
    padding: 1rem 0;
    background-color: #60192D;
    border-bottom: 1px solid #60192D;
}

.logo {
    font-size: 2.5rem;
    color: #FFFBF1;
}

.main-nav ul {
    display:flex;
    list-style: none;
}

.main-nav li {
    margin-right: 20px;
    margin-left: 20px;
}

.main-nav a{
    font-weight: 800;
}

#hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.tapblaze.com/images/slider/good-coffee-great-coffee.jpg');
    background-size: cover;
    background-position: center;
    color:#FFFBF1;
    padding: 220px 0;
    text-align:center;
}

#hero h1{
    color: #FFFBF1;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#hero p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #8F4818;
    color:#FFFBF1;
    padding: 15px 30px;
    border-radius:5px;
    font-weight: 700;
    display:inline-block;
}

#info, #bebidas, #descarga {
    padding: 80px 0;
}

#bebidas {
    background-color: #ffffff;
}

h2{
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
    margin-top: 48px;
}

.menu-item img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius:5px;
    margin-bottom: 1rem;
}

.menu-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}